head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.1/morph/bootstrap.min.css" integrity="sha512-wEQ4jcmKfq26vy46FnflTB8+nTszRmhTN1XLugdBw+CEiE+5xbES3lmf7sbM+HJpWfwdrVQZlJu5WVw9mpc1Gw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    title Get News